:root{
    --background:  #d0f3cc;
    --background-header:  #ffffff;
}

.body{
    background-color: var(--background);
}

.cabecalho{
    background-color: var(--background-header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-daora{
    display: flex;
    justify-content: center;
    padding: 10px;
}