@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

:root{
    --background:  #d0f3cc;
    --background-header:  #ffffff;
    --texto: #000000;
}

body{
    background-color: var(--background);
    color: var(--texto);
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}

.cabecalho{
    background-color: var(--background-header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.titulo-cabecalho{
    display: flex;
    align-items: center;
}

.cabecalho--nav{
    display: flex;
    justify-content: space-between;
    width: 215px;
    margin: 20px;
}
h1{
    font-size: 2rem;
    color: var(--texto);
    font-weight: 700;
}

nav a{
    text-decoration: none;
    color: var(--texto);
    margin: 0 2rem 1rem 0;    margin: 20px;
}
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration: none;
    transform: scale(0.9);
    transition: transform 0.1s;

}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-header);
  color: var(--texto);
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
}