:root{
    cabecalho-fundo: grey;
}

.titulo-cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textos-daora{
    display: flex;
    justify-content: center;
    padding: 10px;
}